<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6I7VgakK_9mM_SSOaEynHUCIXxgMy1RU</string>
	<key>GCM_SENDER_ID</key>
	<string>750373031396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drada.Clever</string>
	<key>PROJECT_ID</key>
	<string>studybuddy-e117c</string>
	<key>STORAGE_BUCKET</key>
	<string>studybuddy-e117c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750373031396:ios:a909a0e6544b4387c5cbf1</string>
</dict>
</plist>